.review-modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.review-modal-container h2 {
    margin-bottom: 20px;
}

.review-modal-container textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.star-rating span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 24px; 
    color: #ccc; 
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.star-rating span:hover,
.star-rating span:hover ~ .star-rating span {
    color: #ccc; /* Reset color for stars to the right */
}

.star-rating .selected {
    color: #000000; /* Color for selected stars */
}

.star-rating span.filled {
    color: #000000; /* Color for selected or filled stars */
}